<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{base_layout :: head}">
</head>

<body>

	<div th:replace="~{base_layout :: navbar}"></div>
	<div class="container">
	    <h1 class="mb-3">Atualizar informacões</h1>
	    <form  th:object="${destino}" th:action="@{update/{id}(id=${destino.id})}" method="post" enctype="multipart/form-data">
	        <div th:replace="~{base_layout :: form}"></div>
	        <div class="col-12 mt-2">
	            <button type="submit" class="btn btn-primary my-5 p-2" >Atualizar</button>
	        </div>
	    </form>
	</div>  
	<script>
      
		/* function receiveValue(element) {
				element.setAttribute("name", "imagemDestino"); 
		} */
	</script>

</body>

</html>